---
version: 3

options:
  package_manager_path: /usr/bin/microdnf

images:
  base_image:
    name: 'registry.redhat.io/ansible-automation-platform-26/ee-supported-rhel9:1.0'

additional_build_steps:
  prepend_builder:
    - ENV PKGMGR_OPTS="--nodocs --setopt=install_weak_deps=0 --setopt=rhocp-4.20-for-rhel-9-x86_64-rpms.enabled=true"
  prepend_final:
    - ENV PKGMGR_OPTS="--nodocs --setopt=install_weak_deps=0 --setopt=rhocp-4.20-for-rhel-9-x86_64-rpms.enabled=true"

dependencies:
  system:
    # https://access.redhat.com/solutions/7101627
    - gcc
    - systemd-devel
    - python3.11-devel
  galaxy:
    collections:
# ToDo: add version numbers!
      - name: community.general
      - name: community.kubernetes
      - name: redhat.openshift
      - name: kubernetes.core
      - name: ansible.posix
      - name: community.crypto
      - name: hetzner.hcloud
